.hero{
  background-image: url(../assets/img/header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: white;
}

.jumbotron{
  margin-bottom: 0px;

}
